*{
    /* box-sizing:border-box; */
    margin:0px;
    padding:2px;
}


.newButtons li{
    text-align: left;
    max-width:90px; 
    color:white; 
    padding: 3px 8px 3px 8px; 
    height:20px; 
    margin:1%; 
    border-radius:4px;
    background-color:#093145;
}

.newButtons li:hover {
    background-color:#0c7ab1;
}
